<!-- this file is by default applied as a shell for any view template -->
<!-- could override with a layout that matches the name of a controller -->
<!-- e.g. posts.html.erb in this folder -->
<!-- or, alternatively, you could specify the layout used in the controller with
layout method i.e. layout 'some layout' similar to before_action method.
You can even specify a layout for a specific controller action like so:
render layout: 'my_layout' or you could nix the layout completely with
render layout: false -->
<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
